<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RecuperarEstados</servlet-name>
        <servlet-class>controller.RecuperarEstados</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecuperarMunicipios</servlet-name>
        <servlet-class>controller.RecuperarMunicipios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecuperarEscolas</servlet-name>
        <servlet-class>controller.RecuperarEscolas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecuperarEscolasTabela</servlet-name>
        <servlet-class>controller.RecuperarEscolasTabela</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecuperarInformacoesEscola</servlet-name>
        <servlet-class>controller.RecuperarInformacoesEscola</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecuperarRegiao</servlet-name>
        <servlet-class>controller.RecuperarRegiao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecuperarQuantidadeEscolasEstado</servlet-name>
        <servlet-class>controller.RecuperarQuantidadeEscolasEstado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecuperarEstatisticas</servlet-name>
        <servlet-class>controller.RecuperarEstatisticas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtualizarFiltros</servlet-name>
        <servlet-class>controller.AtualizarFiltros</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RecuperarEstados</servlet-name>
        <url-pattern>/RecuperarEstados</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecuperarMunicipios</servlet-name>
        <url-pattern>/RecuperarMunicipios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecuperarEscolas</servlet-name>
        <url-pattern>/RecuperarEscolas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecuperarEscolasTabela</servlet-name>
        <url-pattern>/RecuperarEscolasTabela</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecuperarInformacoesEscola</servlet-name>
        <url-pattern>/RecuperarInformacoesEscola</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecuperarRegiao</servlet-name>
        <url-pattern>/RecuperarRegiao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecuperarQuantidadeEscolasEstado</servlet-name>
        <url-pattern>/RecuperarQuantidadeEscolasEstado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecuperarEstatisticas</servlet-name>
        <url-pattern>/RecuperarEstatisticas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtualizarFiltros</servlet-name>
        <url-pattern>/AtualizarFiltros</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
