
/* =======================================================
   CONFIGURACOES GERAIS
   ======================================================= */

* {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
}
#main-principal {
    min-height: 100%;
}
#footer-principal {
    position: relative;
    clear: both;
}


/* =======================================================
   HEADER PRINCIPAL
   ======================================================= */

.icone-header {
    height: 23.5px;
    width: 23.5px;
}

#barra-navegacao {
    color: #707070;
    background-color: #DADADA;
    border-bottom: 5px solid #002776;
}
#navbarMenu {
    font-size: 15px;
}
.nav-item {
    margin-left: 20px;
}

.navbar-brand {
    font-size: 27px;
    color: #707070 !important;
}
.nav-item:hover {
    background-color: #bdbdbd;
}


/* =======================================================
   NAVBAR BUSCA
   ======================================================= */

#busca {
    height: 45px;
    margin-top: 5.5rem;
    border-bottom: 1.5px solid #707070;
}
.navbar-busca li {
    background: #fff;
    border: 1px solid #707070;
    height: 28px;
    margin-right: -5px !important;
    padding: 0 10px;
    line-height: 28px;
    border-right: none;
    border-left: 0;
    position: relative;
    font-size: 12px;
}
.navbar-busca li:before {
    content: "";
    display: block;
    position: absolute;
    top: -2px;
    right: -1px;
    z-index: 9;
    border-style: solid;
    border-width: 16.5px 0 13.5px 10px;
    border-color: transparent transparent transparent #707070;
}
.navbar-busca li:after {
    content: "";
    display: block;
    position: absolute;
    top: -1px;
    right: 0;
    z-index: 10;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15.5px 0 12.5px 10px;
    border-color: transparent transparent transparent #fff;
}
.navbar-busca li:first-child {
    border-radius: 3px 0 0 3px;
    border-left: 1px solid #707070;
}
.navbar-busca li:last-child {
    border-radius: 0 3px 3px 0;
    border-right: 1px solid #707070;
}
.navbar-busca li:last-child:before, .navbar-busca li:last-child:after {
    display: none;
}

/* =======================================================
   RODAPÉ
   ======================================================= */

#footer-principal {
    background-color: #36923F;
    color: white;
}


/* =======================================================
   MISC
   ======================================================= */
   
#form-busca-principal {
	margin-left: 42px;
}
#form-busca-principal i {
    color: #36923F;
}
#busca-principal {
	width: 275px;
}

.h1-verde {
    font-size: 27px;
    color: #36923F;
    font-weight: 500;   
}


/* =======================================================
   HERO PRINCIPAL
   ======================================================= */

#hero-principal {
    padding-top: 150px;
    min-height: 100vh;

    /* Imagem */
    background-image: url(../img/fundos/fundo-lapis.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.titulo-principal {
    font-size: 40px;
}
.paragrafo-principal {
    font-size: 17px;
    opacity: 0.8;
}
#hero-principal .container span {
    font-size: 17px;
}

#btn-start {
    border: none;
    border-radius: 7px;
    text-align: left;
    padding: 7px 15px;
    background-color: #797979;
    color: white;
    background-image: url(../img/icones/chevron-right.png);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: right;
}
#btn-start:hover {
    background-color: #9c9c9c;
    box-shadow: 1px 1px 1px 1px rgb(105, 105, 105);
}


/* =======================================================
   SOBRE GERAL
   ======================================================= */

#sobre {
    padding: 7rem !important;
    text-align: center;   
}
#sobre p {
    font-size: 17px;
}
#sobre .img {
    height: 174px;
    width: 174px;
}

.situacao {
    background-image: url(../img/sobre/situacoes.png);
    background-size: 82%;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 28px;
    background-color: #878787;
}

.dependencias {
    background-image: url(../img/sobre/dependencias.png);
    background-size: 140%;
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: -65px;
}

.ofertas-matricula {
    background-image: url(../img/sobre/oferta.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    
}

.caracteristicas {
    margin-top: 50px;
}
.caracteristicas ul li {
    list-style-type: none;
    padding: 0;
}
.caracteristicas ul {
    font-size: 17px;
}

.rounded-circle{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}


/* =======================================================
   SOBRE ESTATÍSTICAS
   ======================================================= */

#sobre-estatisticas {
    padding: 7rem !important;
    background-color: rgb(238, 237, 237);
    min-height: 100vh;
    background-image: url(../img/fundos/grafico.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}