
/* =======================================================
   CONFIGURACOES GERAIS
   ======================================================= */

* {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
}
#main-principal {
    min-height: 100%;
}
#footer-principal {
    position: relative;
    clear: both;
}


/* =======================================================
   HEADER PRINCIPAL
   ======================================================= */

.icone-header {
    height: 30px;
    width: 30px;
}

.navbar-brand {
    text-transform: uppercase;
}
.nav-item:hover {
    background-color: #bdbdbd;
}